In [1]:
from pathlib import Path
import pandas as pd
from scripts.analysis_utils import error_analysis

# Error Categorization

In [2]:
root_path = Path("../experiment_results")
llms_path_outputs = root_path / "outputs"

In [3]:
error_analysis(llms_path_outputs)

## Save Filtered CSV

In [4]:
df = pd.read_csv(llms_path_outputs / "error_categories.csv")
df = df[df["error"] != "empty_response"]
df.to_csv(llms_path_outputs / "filtered_error_categories.csv", index=False)

In [5]:
df = pd.read_csv(llms_path_outputs / "filtered_error_categories.csv")
df

,task,model,format,file,error,error_message
0,character,falcon,json,27.txt,key_completeness,The key 'game' is missing.
1,character,falcon,json,34.txt,key_completeness,The key 'game' is missing.
2,character,falcon,json,37.txt,key_completeness,The key 'game' is not a dictionary.
3,character,falcon,json,54.txt,key_completeness,The key 'game' is missing.
4,character,falcon,json,95.txt,key_completeness,The key 'game' is missing.
...,...,...,...,...,...,...
1783,story,mpt,yaml,75.txt,incorrect_syntax,"while parsing a block mapping\n in ""<unicode ..."
1784,story,mpt,yaml,81.txt,incorrect_syntax,"while parsing a block mapping\n in ""<unicode ..."
1785,story,mpt,yaml,84.txt,incorrect_syntax,"while parsing a block mapping\n in ""<unicode ..."
1786,story,mpt,yaml,86.txt,incorrect_syntax,"mapping values are not allowed here\n in ""<un..."
1787,story,mpt,yaml,95.txt,incorrect_syntax,"mapping values are not allowed here\n in ""<un..."